.actions {
	margin-top: 20px;
}

.container {
	min-width: 310px;
}

dt {
	cursor: pointer;
}

dt i {
	color: #d34836;
}

dt:hover {
	/*color: #d34836;
	-webkit-box-shadow: 0 0 5px 5px#888;
	border-radius: 10px;*/
	font-weight: bold;
}

dd {
	display: none;
}

i {
	margin: 5px;
}

.badge-warn {
	margin-top: 2px;
}